/*总样式区*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #e8e8e8;
    font-size: 16px;
}

html {
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, Roboto, STHeiTi, Arial, sans-serif;
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

a .f_card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
}

ul, ol {
    list-style: none outside none;
}

dt {
    display: block;
}

h1, h2, h3, strong {
    font-weight: normal;
}

/* 查詢輸入框 */

.top {
    background-color: #ffffff;
    height: 46px;
    position: fixed;
    top: 0px;
    width: 100%;
    border-top: 0px solid #ccc;
    line-height: 46px;
    border-bottom: 1px solid #ccc;
}

.search_input {
    width: 50%;
    height: 32px;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    margin-left: 0px;
}

.top button{
    font-weight: 600;
    color: #ffffff;
    background-color: #06a7e1;
    border: 0px solid #ccc;
    font-size: 14px;
    padding: 9px 14px;
    margin-left: 0px;
}

/* 搜索列表模块 */

.search_panel {
    padding: 0 20px;
    background-color: #ffffff;
    margin-top: 46px;
}

.search_div {
    padding: 12px 0;
    border-bottom: 1px solid #ececec;
}

.search_img {
    height: 60px;
    width: 80px;
    float: left;
    margin-right: 16px;
}

.search_title {
    color: #2f2f2f;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
    overflow: hidden;
    height: 40px;
}

.search_time {
    color: #888;
    font-size: 10px;
    height: 17px;
    line-height: 22px;
    margin-top: 2px;
}

.search_load_more{
    text-align: center;
    height:50px;
    line-height: 50px;
}

.loading{
    font-size: 20px;
}

/* 底部 */
.f_module {
    clear: both;
    overflow: hidden;
    background: #fff;
    padding: 14px 0 20px;
    background-color: #129bf0;
    font-size: 15px;
    color: #e8f5fd;
    text-align: center;
    line-height: 1.6;
}

/* 加载中动画 */
.sk-folding-cube{
    margin: 40px auto;
    width:40px;
    height: 40px;
    position: relative;
    -webkit-transform:rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube{

    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before{

    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    -webkit-animation:sk-foldCubeAngle 2.4s infinite linear both;
    animation:sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin:100% 100%;
    /*transform-origin来定义X轴和Y轴为基础的3D位置*/
    -ms-transform-origin:100% 100%;
    transform-origin: 100% 100%;

}
.sk-folding-cube .sk-cube2{

    -webkit-transform:scale(1.1) rotateZ(90deg);
    transform:scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3{

    -webkit-transform:scale(1.1) rotateZ(180deg);
    transform:scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4{

    -webkit-transform:scale(1.1) rotateZ(270deg);
    transform:scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before{

    -webkit-animation-delay:0.3s;
    animation-delay:0.3s;
}
.sk-folding-cube .sk-cube3:before{

    -webkit-animation-delay:0.6s;
    animation-delay:0.6s;
}
.sk-folding-cube .sk-cube4:before{

    -webkit-animation-delay:0.9s;
    animation-delay:0.9s;
}
@-webkit-keyframes sk-foldCubeAngle{

    0%,10%{
        /*perspective属性设置镜头到元素平面的距离*/
        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity:0;
    }
    25%,75%{

        -webkit-trasform:perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity:1;
    }
    90%,100%{

        -webkit-transform:perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity:0;
    }
}
@keyframes sk-foldCubeAngle{

    0%,10%{

        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform:perspective(140px) rotateX(-180deg);
        opacity:0;
    }
    25%,75%{

        -webkit-transform:perspective(140px) rotateX(0deg);
        transform:perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,100%{

        -webkit-transform:perspective(140px) rotateY(180deg);
        transform:perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}